In [1]:
import pandas as pd

import cobra, cobra_utils

# Data location

In [2]:
model_filename = '../data/e_coli_iJO1366.xml.gz'

# Load data

In [3]:
model = cobra_utils.io.load_model(model_filename, format='sbml')

Loading genome-scale model
Model correctly loaded.

In [4]:
model

# Retrieving information

## From metabolites

In [5]:
mets = ['nadh_c',
        'nadph_c']

In [6]:
info_from_mets = cobra_utils.query.rxn_info_from_metabolites(model, mets)

Using list of metabolites to get reactions where they participate. Also, getting genes of those reactions.
Information correctly obtained.

In [7]:
info_from_mets.head()

,RxnID,RxnName,GeneID,Subsystem,RxnFormula,MetID,MetName
0,IPMD,3-isopropylmalate dehydrogenase,b0073,,3c2hmp_c + nad_c --> 3c4mop_c + h_c + nadh_c,nadh_c,Nicotinamide adenine dinucleotide - reduced
1,NADH18pp,NADH dehydrogenase (demethylmenaquinone-8 & 3 ...,b2277,,2dmmq8_c + 4.0 h_c + nadh_c --> 2dmmql8_c + 3....,nadh_c,Nicotinamide adenine dinucleotide - reduced
2,NADH18pp,NADH dehydrogenase (demethylmenaquinone-8 & 3 ...,b2282,,2dmmq8_c + 4.0 h_c + nadh_c --> 2dmmql8_c + 3....,nadh_c,Nicotinamide adenine dinucleotide - reduced
3,NADH18pp,NADH dehydrogenase (demethylmenaquinone-8 & 3 ...,b2288,,2dmmq8_c + 4.0 h_c + nadh_c --> 2dmmql8_c + 3....,nadh_c,Nicotinamide adenine dinucleotide - reduced
4,NADH18pp,NADH dehydrogenase (demethylmenaquinone-8 & 3 ...,b2285,,2dmmq8_c + 4.0 h_c + nadh_c --> 2dmmql8_c + 3....,nadh_c,Nicotinamide adenine dinucleotide - reduced

##Â From reactions

In [8]:
rxns = ['ICDHyr',
        'ICL']

In [9]:
info_from_rxns = cobra_utils.query.rxn_info_from_reactions(model, rxns)

Using list of reactions to get their information and genes associated.
Information correctly obtained.

In [10]:
info_from_rxns.head()

,GeneID,RxnID,RxnName,SubSystem,RxnFormula
0,b1136,ICDHyr,Isocitrate dehydrogenase (NADP),,icit_c + nadp_c <=> akg_c + co2_c + nadph_c
1,b4015,ICL,Isocitrate lyase,,icit_c --> glx_c + succ_c

## From genes

In [11]:
genes = ['b1602',
         'b1603']

In [12]:
info_from_genes = cobra_utils.query.rxn_info_from_genes(model, genes)

Using list of genes to get the reactions associated and their information.
Information correctly obtained.

In [13]:
info_from_genes.head()

,GeneID,RxnID,RxnName,SubSystem,RxnFormula
0,b1602,NADTRHD,NAD transhydrogenase,,nad_c + nadph_c --> nadh_c + nadp_c
1,b1602,THD2pp,NAD(P) transhydrogenase (periplasm),,2.0 h_p + nadh_c + nadp_c --> 2.0 h_c + nad_c ...
2,b1603,NADTRHD,NAD transhydrogenase,,nad_c + nadph_c --> nadh_c + nadp_c
3,b1603,THD2pp,NAD(P) transhydrogenase (periplasm),,2.0 h_p + nadh_c + nadp_c --> 2.0 h_c + nad_c ...

## Information for all reactions present in the model

In [14]:
all_rxns = cobra_utils.query.rxn_info_from_model(model)

Getting information for all reactions in the model.
Information correctly obtained.

In [15]:
all_rxns.head()

,GeneID,RxnID,RxnName,SubSystem,RxnFormula
0,,DM_4crsol_c,Sink needed to allow p-Cresol to leave system,,4crsol_c -->
1,,DM_5drib_c,Sink needed to allow 5'-deoxyribose to leave s...,,5drib_c -->
2,,DM_aacald_c,Sink needed to allow aminoacetaldehyde to leav...,,aacald_c -->
3,,DM_amob_c,Sink needed to allow S-Adenosyl-4-methylthio-2...,,amob_c -->
4,,DM_mththf_c,"Sink needed to allow (2R,4S)-2-methyl-2,3,3,4-...",,mththf_c -->